
.table1{
    margin: auto;
    font-family: sans-serif;
    border-collapse: collapse;
    padding-bottom: 40px;
} 

.table1, th, td{
    border: 2px solid #8b9091;
    padding: 6px 12px;
}

.table1 th:first-child {
    background-color: rgb(57, 123, 184);
    color: antiquewhite;
    text-align: center;
}

.table1 tr:nth-child(odd) {
    background-color: rgb(156, 153, 153);
    color: rgb(42, 40, 43);
}

/* .table1 tr :nth-child(even) {
    
} */

.box {
    padding-top: 40px;
    padding-left: 1px;
}
.table2 {
    margin-left: 21%;
    border-collapse: collapse ;
    background-color: gray;

}

.table3 {
    background-color: gold;
}

.table4 {
    background-color: lightseagreen;
}

